artifacts
bge_small_en_v1.5_embedding_faiss
index_dense_demo
index_sparse_demo
runs/*
bm25_index
__pycache__
bge_base_en_v1.5_embedding_faiss
bge_large_en_v1.5_embedding_faiss
mxbai_large_embedding_faiss
qwen3_4b_embedding_faiss
msmarco_regex_wordlevel_tokenizer
paraphrased_queries
co_condenser_marco_embedding_faiss
dense_index_vi
bm25_index_vi
cache
metadata_sqlite
client_secret_918850483196-ojp51av1u3u12gcjv8fse4hae6fa74d0.apps.googleusercontent.com.json